<div class="custom-region">
<span><b>{{ 'Country: ' }}</b>{{ data.country }}</span>
<span><b>{{ 'City:' }}</b> {{ data.city }}</span>
<span><b>{{ 'Region:' }}</b> {{ data.region }}</span>
<span><b>{{ 'Current Time:' }}</b> {{ data.current_time }}</span>
</div>